<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>tiny_url</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='all'>
      </div>
      <div id='comment'>
        <p></p>
      </div>
      <div id='center_box'>
      <%= yield %>
      </div>
      <div id='footer'>
      </div>
    </div>
  </body>
</html>
